<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<form name = "f" th:action="@{/registration}" th:object="${user}" method="POST" enctype="utf8">
<main>
    <div class="circle"></div>
    <div class="register-form-container">
        <h1 class="form-title">
            Registration
        </h1>
            <div class="form-fields">
                <div class="form-field">
                    <input  name ='login' type="text" th:field="*{login}" placeholder="Login">
                </div>
                <div class="form-field">
                    <input name = 'email'  type="text" th:field="*{email}" placeholder="Email">
                </div>
                <div class="form-field">
                    <input name= 'password' type="password" th:field="*{password}"  placeholder="Password">
                </div>
            </div>
            <div class="form-buttons">
                <button type="submit"  class="button">Registration</button>
                <div class="divider">Or</div>
                <a href="#" class="button button-google">Google</a>
            </div>
    </div>
</main>
</form>

<script type="text/javascript">
    function validate() {
        if (document.f.login.value === "" && document.f.password.value === "") {
            alert("Login and password are required");
            document.f.login.focus();
            console.log('hi');
            return false;
        }
        if (document.f.login.value === "") {
            alert("Login is required");
            document.f.login.focus();
            return false;
        }
        if (document.f.email.value === "") {
            alert("Email is required");
            document.f.email.focus();
            return false;
        }
        if (document.f.password.value === "") {
            alert("Password is required");
            document.f.password.focus();
            return false;
        }
    }
    let b = document.querySelector(".button");
    b.addEventListener("click",validate);
</script>
</body>
</html>

