<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<form th:action="@{/registration}" th:object="${user}" method="POST" enctype="utf8">
<main>
    <div class="circle"></div>
    <div class="register-form-container">
        <h1 class="form-title">
            Registration
        </h1>
            <div class="form-fields">
                <div class="form-field">
                    <input type="text" th:field="*{login}" placeholder="Login">
                </div>
                <div class="form-field">
                    <input type="text" th:field="*{email}" placeholder="Email">
                </div>
                <div class="form-field">
                    <input type="password" th:field="*{password}"  placeholder="Password">
                </div>
                <div class="form-field">
                    <input type="password"  placeholder="Confirm Password">
                </div>
            </div>
            <div class="form-buttons">
                <button type="submit"  class="button">Registration</button>
                <div class="divider">Or</div>
                <a href="#" class="button button-google">Google</a>
            </div>
    </div>
</main>
</form>
</body>
</html>